{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block body %}

<h1 class="carpaccio">Politique de Confidentialité de l'Hôtel Le Royal Palace</h1>

</br>

<div class="kiwi">

<p>*Date d'entrée en vigueur : 7 septembre 2023*</p>
<p>L'Hôtel Le Royal Palace, situé à Monaco, attache une grande importance à la protection de la vie privée de ses clients. Cette Politique de Confidentialité explique comment nous collectons, utilisons, divulguons et protégeons vos informations personnelles. En utilisant nos services, vous consentez à la collecte et à l'utilisation de vos données conformément à cette politique.
</p>
</br>
<p>**1. Collecte d'Informations**</p>

<p>1.1. Informations Personnelles : Nous pouvons collecter des informations telles que votre nom, adresse, numéro de téléphone, adresse e-mail, informations de paiement et autres données personnelles lorsque vous effectuez une réservation ou utilisez nos services.</p>

<p>1.2. Informations de Navigation : Nous recueillons automatiquement des informations sur votre utilisation de notre site web, y compris votre adresse IP, le type de navigateur, les pages visitées, et les temps d'accès.</p>

<p>**2. Utilisation des Informations**</p>

<p>2.1. Nous utilisons vos informations personnelles pour gérer vos réservations, traiter les paiements, personnaliser votre expérience et vous fournir un service de qualité.

2.2. Nous pouvons utiliser vos informations pour vous envoyer des communications relatives à votre réservation, des offres spéciales ou des informations sur nos services, sauf si vous choisissez de ne pas les recevoir.</p>

<p>**3. Divulgation des Informations**</p>

<p>3.1. Nous ne vendons pas, ne louons pas et ne partageons pas vos informations personnelles avec des tiers non affiliés, sauf dans le but de vous fournir nos services ou si requis par la loi.</p>

<p>**4. Sécurité des Informations**</p>

<p>4.1. Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès non autorisé, divulgation, altération ou destruction.</p>

<p>**5. Vos Choix et Droits**</p>

<p>5.1. Vous avez le droit d'accéder, de corriger, de mettre à jour ou de supprimer vos informations personnelles en nous contactant à RoyalPalace@exemple.com.</5>

<p>**6. Cookies et Technologies Similaires**</p>

<p>6.1. Nous utilisons des cookies et d'autres technologies pour améliorer votre expérience en ligne. Vous pouvez gérer vos préférences de cookies dans les paramètres de votre navigateur.</p>

<p>**7. Modifications de la Politique de Confidentialité**</p>

<p>7.1. Nous nous réservons le droit de mettre à jour cette Politique de Confidentialité en fonction des changements de nos pratiques de collecte et d'utilisation de données. Toute modification sera publiée sur notre site web.</p>

<p>**8. Contact**</p>

<p>Si vous avez des questions ou des préoccupations concernant cette Politique de Confidentialité, veuillez nous contacter à l'adresse RoyalPalace@exemple.com.</p>

<p>L’équipe du Royal Palace</p>
</div>
<div class="couronne"><img src="{{ asset('images/Logo 3.png') }}" alt=""></div>

<style>
.kiwi{
    font-family:verdana;
    margin-left:70px;
    margin-right:70px;
}

.carpaccio{
    text-align:center;
    font-family:verdana;
    font-size:25px;
}

.couronne img {
    max-width: 15%;
    height: auto;
    display: block; /* Pour éviter les espaces vides sous l'image */
    margin: 0 auto; /* Pour centrer horizontalement l'image */
}
</style>

{% endblock %}
