@font-face {
    font-family: "Italianno-Regular";
    src: url('Fonts/Italianno-Regular.ttf') format('truetype');
}


body {
	background-image: url('../images/décor1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}


.reservation-form {
    background-color: rgba(217, 217, 217, 0.8);
    margin: 0 auto; /* Centre horizontalement */
    text-align: center;
    border-radius: 10px;
    border: goldenrod solid;
    font-family: verdana;
    width: 70%; /* Ajustez la largeur selon vos préférences */
    max-width: 800px; /* Ajustez la largeur maximale selon vos préférences */
    padding: 20px;
	margin-bottom: 30px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    margin: 10px auto;
}

.option2 label {
    display: flex;
    align-items: center; /* Centre horizontalement */
    width: 100%; /* Prend toute la largeur disponible */
    justify-content: flex-end; /* Aligner les éléments par la fin (à droite) */
}




.h1{
	text-align:center;
	font-family:Italianno-Regular;
	font-size:80px;
}



.form-group {
	flex-direction:row;
    margin: 20px;
}

.booked{
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.btn-primary{
	background-color:#183456;
	color: white;
	border:solid goldenrod;
	width:100px;
	height: 50px;
	border-radius:10px;
	transition: background-color 0.2s, color 0.1s;
	font-family:verdana;
	font-size:14px;
	margin-bottom:15px;
}

.form-group input{
	width:100px;
    height: 20px;
    border: goldenrod solid;
    border-radius:5px;
    font-size:15px;
    background-color:#183456;
    color: white;
}


.list{
	text-decoration:none;
	margin:0px auto;
	color: black;
}

.btn-primary:hover {
  background-color: #2980b9;
}

.list:hover {
	color:goldenrod;
}

#reservation_nbPersonne{
    width: 130px; /* Définissez la largeur souhaitée */
    /* padding: 5px; */
    border: 3px goldenrod solid; /* Ajoutez une bordure */
    border-radius: 5px; /* Ajoutez des coins arrondis */
    font-size: 16px; /* Définissez la taille de la police */
    background-color:#183456;
    color: white;
}
