<form method="post" action="{{ path('app_profile_reservations_delete', {'id': reservation.id}) }}" onsubmit="return confirm('Êtes vous sur ? cette action est irréversible');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
    <button class="btn">Supprimer</button>
</form>
