
body{
    background-image: url('/images/hall.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
  }
  
  .categorie {
      display:flex;
      flex-direction:column;
      justify-content:center;
      margin-top:100px;
      background-color:#D9D9D9;
      margin-left:400px;
      margin-right:400px;
      padding-bottom:50px;
      border-radius:15px;
      border: goldenrod solid;
      margin-bottom:100px;
  }
  
  .categorie h1{
      color: goldenrod;
      font-family:Italianno-Regular;
      font-size:60px;
      font-weight:normal;
      text-align:center;
  }
  
  .categorie .link {
      color: goldenrod;
      font-family:Italianno-Regular;
      font-size:50px;
      text-align:center;
  }
  
  .spacer {
      margin-left:50px;
      margin-right:50px;
      height: 1px;
      background-color:grey;
  }
  
  .btn6{
    text-decoration: none;
	background-color:#183456;
	color: white;
	border:solid goldenrod;
	width:150px;
	/* padding-bottom: 10px; */
	border-radius:10px;
	transition: background-color 0.2s, color 0.1s;
	font-family:verdana;
	font-size:14px;
	margin-top:15px;
    text-align: center;
	margin:0 auto;
    padding: 5px;
  }

  .btn6:hover{
	background-color: #2980b9;
  }
  