.menu{
    display:flex;
    flex-direction:column;
	background-color: rgba(217, 217, 217, 0.8);
	margin-left:400px;
    margin-right:400px;     
    text-align: center;
	border-radius:10px;
	padding-bottom:25px;
	border:goldenrod solid;
	font-family:verdana;
    margin-top:100px;
    margin-bottom:200px;
	line-height: 2;
}

h1{
    font-family:Italianno-Regular;
    font-size:50px;
    color:goldenrod;
}

body{
    background-image: url('/images/14848683028_4727ac7e6c_b.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}


.bttn3{
	background-color:#183456;
	color: white;
	border:solid goldenrod;
	width:150px;
	padding-bottom: 10px;
	border-radius:10px;
	transition: background-color 0.2s, color 0.1s;
	font-family:verdana;
	font-size:14px;
	margin-top:15px;
	margin:0 auto;
}

.bttn3:hover{
	background-color: #2980b9;
}