.menu{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-top:100px;
    background-color:#D9D9D9;
    margin-left:400px;
    margin-right:400px;
    /* padding-bottom:50px; */
    border-radius:15px;
    border: goldenrod solid;
    /* margin-bottom: 16% ; */
}
hr {
    padding: 0;
    margin: 0;
}
.menu h2 {
        font-size: 20px;
        margin-bottom: 10px;
		font-family:verdana;
		text-align:center;
    }

.reservation-item {
        /* margin-bottom: 20px; */
        padding: 10px;
        border: 1px solid #ddd;
		font-family:verdana;
        border-radius: 5px;
		text-align:center;
    }


.bttn {
    text-decoration: none;
	background-color:#183456;
	color: white;
	border:solid goldenrod;
	width:200px ;
	text-align:center;
	height: 30px auto;
	border-radius:10px;
	/* margin-top:15px; */
	margin-left:225px;
	transition: background-color 0.2s, color 0.1s;
	font-family:verdana;
	font-size:14px;
    margin: auto;
    padding: 5px;
	margin-bottom:10px;
}

.bttn:hover {
  background-color: #2980b9;
}

body{
    background-image: url('/images/14848683028_4727ac7e6c_b.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}