.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  background-color: #d9d9d9;
  margin-left: 400px;
  margin-right: 400px;
  padding-bottom: 50px;
  border-radius: 15px;
  border: goldenrod solid;
  margin-bottom: 200px;
}

.numero {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: verdana;
  text-align: center;
}

.menu h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: verdana;
  text-align: center;
}

.reservation-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  font-family: verdana;
  border-radius: 5px;
  text-align: center;
}

.bttn1 {
  background-color: #183456;
  color: white;
  border: solid goldenrod;
  width: 200px auto;
  text-align: center;
  height: 30px auto;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 215px;
  margin-bottom: 15px;
  transition: background-color 0.2s, color 0.1s;
  font-family: verdana;
  font-size: 14px;
  margin: 0 auto;
}

.bttn1:hover, .back:hover {
  background-color: #2980b9;
}

body {
  background-image: url("/images/14848683028_4727ac7e6c_b.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.btn1{
  background-color: #183456;
  color: white;
  border: solid goldenrod;
  width: 200px;
  text-align: center;
  height: 30px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: background-color 0.2s, color 0.1s;
  font-family: verdana;
  font-size: 14px;
}

#dates_dateSortie_year {
  width: 100px; /* Définissez la largeur souhaitée */
  padding: 10px; /* Ajoutez un espacement interne pour une meilleure apparence */
  border: goldenrod solid; /* Ajoutez une bordure */
  border-radius: 5px; /* Ajoutez des coins arrondis */
  font-size: 16px; /* Définissez la taille de la police */
  background-color: #183456;
  color: white;
}

#dates_dateSortie_month {
  width: 100px; /* Définissez la largeur souhaitée */
  padding: 10px; /* Ajoutez un espacement interne pour une meilleure apparence */
  border: goldenrod solid; /* Ajoutez une bordure */
  border-radius: 5px; /* Ajoutez des coins arrondis */
  font-size: 16px; /* Définissez la taille de la police */
  background-color: #183456;
  color: white;
}

#dates_dateSortie_day {
  width: 100px; /* Définissez la largeur souhaitée */
  padding: 10px; /* Ajoutez un espacement interne pour une meilleure apparence */
  border: goldenrod solid; /* Ajoutez une bordure */
  border-radius: 5px; /* Ajoutez des coins arrondis */
  font-size: 16px; /* Définissez la taille de la police */
  background-color: #183456;
  color: white;
}

#dates_dateEntree_year {
  width: 100px; /* Définissez la largeur souhaitée */
  padding: 10px; /* Ajoutez un espacement interne pour une meilleure apparence */
  border: goldenrod solid; /* Ajoutez une bordure */
  border-radius: 5px; /* Ajoutez des coins arrondis */
  font-size: 16px; /* Définissez la taille de la police */
  background-color: #183456;
  color: white;
}

#dates_dateEntree_month {
  width: 100px; /* Définissez la largeur souhaitée */
  padding: 10px; /* Ajoutez un espacement interne pour une meilleure apparence */
  border: 1px goldenrod solid; /* Ajoutez une bordure */
  border-radius: 5px; /* Ajoutez des coins arrondis */
  font-size: 16px; /* Définissez la taille de la police */
  background-color: #183456;
  color: white;
}

#dates_dateEntree_day {
  width: 100px; /* Définissez la largeur souhaitée */
  padding: 10px; /* Ajoutez un espacement interne pour une meilleure apparence */
  border: goldenrod solid; /* Ajoutez une bordure */
  border-radius: 5px; /* Ajoutez des coins arrondis */
  font-size: 16px; /* Définissez la taille de la police */
  background-color: #183456;
  color: white;
}

#dates_submit {
  background-color: #183456;
  color: white;
  border: solid goldenrod;
  width: 110px;
  text-align: center;
  height: 30px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: background-color 0.2s, color 0.1s;
  font-family: verdana;
  font-size: 14px;
}

#dates_submit:hover {
  background-color: #2980b9;
}

.back, .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 400px;
    border: solid goldenrod;
    width: 180px;
    align-items: center;
    height: 40px;
    margin-bottom: 60px;
    border-radius: 10px;
    margin: 15px auto; /* Pour centrer verticalement et horizontalement */
    transition: background-color 0.2s, color 0.1s;
    font-family: verdana;
    background-color: #183456;
    font-size: 14px;
    text-decoration: none;
    color: white;
  }
