{% extends 'base.html.twig' %}

{% block title %}Modifier Chambre{% endblock %}

{% block body %}
    <div class="formu">
    <h1>Modifier Chambre</h1>

    {{ include('admin_chambre/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a class="poire" href="{{ path('app_admin_chambre_index') }}">Retour</a>

    {{ include('admin_chambre/_delete_form.html.twig') }}
</div>
<style>
.formu{
    display:flex;
    flex-direction:column;
	background-color: rgba(180, 180, 180, 0.8);
	margin-left:400px;
    margin-right:400px;     
    text-align: center;
	border-radius:10px;
	padding-bottom:25px;
	border:goldenrod solid;
	font-family:verdana;
    margin-top:200px;
    margin-bottom:200px;  
}

body{
    background-image: url('/images/facade.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; 
}

.poire {
    display: flex;
    flex-direction: row;
	justify-content:center;
    background-color: #183456;
    color: white;
    width: 80px;
    height: 40px; /* Ajustez la hauteur souhaitée */
    border: solid goldenrod;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.1s;
    font-family: verdana;
    font-size: 14px;
    margin: 10px auto; /* Centre horizontalement le bouton */
    align-items: center; /* Centre verticalement le contenu */
    justify-content: center; /* Centre horizontalement le contenu */
    text-align: center; /* Centre le texte horizontalement */
    padding: 0; /* Supprime les paddings */
}

.btn{
    display: flex;
	background-color:#183456;
	color: white;
	border:solid goldenrod;
	width:90px;
	height: 30px;
	border-radius:10px;
	transition: background-color 0.2s, color 0.1s;
	font-family:verdana;
	font-size:14px;
	margin-top:15px;
	margin: 10px auto;
}

#chambre_Superficie,
#chambre_ChaineALaCarte,
#chambre_Tarif,
#chambre_VueSurMer,
#chambre_Climatisation,
#chambre_TelevisionEcranPlat,
#chambre_Telephone,
#chambre_ChaineSatellite,
#chambre_ChaineDuCable,
#chambre_CoffreFort,
#chambre_MaterielDeRepassage,
#chambre_WifiGratuit,
#chambre_Type{
        width: 200px;
    height: 20px;
    margin: 10px auto; /* Centre horizontalement avec des marges automatiques */
    border: goldenrod solid;
    border-radius: 5px;
    font-size: 15px;
}

.required{
    display: flex;
    flex-direction: column;
}

</style>
{% endblock %}
